/frontend/node_modules/
.DS_Store
backend/depth_anything_16k_mix_batch_40_lr_0.0005_epoch_9.pth
env/
/backend/model2_epoch_{epoch+1}.pths
/backend/MO_full11l_model.pth
/backend/__pycache__
/backend/blueprints/__pycache__
/backend/cache 